.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkblue;
    color: white;
    text-align: center;
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../green.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;

}

