<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <th:block th:fragment="header">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <img src="../static/pizza.jpg" height="618" width="910"/>/>
    </th:block>
</head>


<body>

<div th:fragment="nav">

    <nav class="navbar navbar navbar-expand-lg navbar-dark" >
        <a class="navbar-brand text-white" href="/">  &nbsp;Welcome PizzaShop   </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="nav navbar-nav ml-auto">
                <li sec:authorize="isAuthenticated()" class="nav-item text-light active" th:inline="text">
                    <a class="nav-link text-white" href="#">Welcome [[${#authentication.name}]]!</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item text-light active" th:inline="text">
                    <a class="nav-link text-white" href="/logout"> Log out</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item text-light active" th:inline="text">
                    <a class="nav-link text-white" href="/"> Home </a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item text-light active" th:inline="text">
                    <a class="nav-link text-white" href="/"> Menu </a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item text-light active" th:inline="text">
                    <a class="nav-link text-white" href="/order"> Order Here </a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item text-light active" th:inline="text">
                    <a class="nav-link text-white" href="/order" > Order Here </a>
                </li>


                <li sec:authorize="!isAuthenticated()" class="nav-item text-light active" th:inline="text">
                    <a class="nav-link text-white" href="/search"> Search Location </a>
                </li>


                <li class="nav-item">
                    <a sec:authorize="!isAuthenticated()" class="nav-link text-white" href="/register">Sign Up </a>
                </li>

            </ul>
        </div>
    </nav>
</div>
<div class="space"></div>
</div>

<footer th:fragment="footer">
    <div class="footer">
        <p> Henok pizza Shop </p>
    </div>
</footer>
</body>
</html></html>