<!DOCTYPE html>
<<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="base :: nav"></div>

<form autocomplete="off" th:action="@{/order}" method="post">
    Pizza Type:<br>
    <input type="text" name="pizzaName" > <br>

    Size :
    <li>
        <select name="pizzaSize">
            <option selected="" >(Please select size)</option>
            <option value="AF">Large</option>
            <option value="AL">Medium</option>
            <option value="DZ">Small</option>
        </select>
    </li>

    Date :<br>
    <input type="date" name="date" >
    <br><br>

    Price :<br>
    <input type="text" name="basePrice" >
    <br><br>

    Tax :<br>
    <input type="text" name="tax" >
    <br><br>


    <input type="submit" value="Submit">
</form>


<div th:replace="base:: footer"></div>
</body>
</html>